@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Suez+One&display=swap");
body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
header{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #92A89A;
}
table {
    text-align: left;
    width: 400px;
    margin: 0 auto;
    border-collapse: collapse;
    border: solid 1px #92A89A;
}
th {
    border: solid 1px #92A89A;
    text-transform: uppercase;
    text-align: center;
    padding: 9px;
}
tr,td{
    width: 33% ;
    border: solid 1px #92A89A;
    padding: 1em 0;
    padding-left: 1em;
}
td:first-of-type {
    background-color: #ffffff;
    text-align: left;
    
}
td:nth-of-type(2), td:nth-of-type(3) {
    text-align: center;
    background-color: #548296;
    color: #ffffff;
}
footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #92A89A;
}