/*
KLEUREN: 
grijs : #aaaaaa   ->kleur van navigatielinks
rood  : #f0141e

wit   : #ffffff ->kleur van navigatielink met muisover
zwart : #000000
*/

/* TYPOGRAFIE
lettertype : Arial
basisgrootte: 15 pixels
*/

/*
De rand rond de eerste film is 10 pixels
De witruimte rond de 'movie-text' is
  boven en onder: 1em
  links en rechts: 2em
*/

:root {
  --grijze-links: #aaa;
  --rood: #f0141e;
  --wit-links: #fff;
  --zwart: #000000;
  --spacing-sides: 2em;
  --spacing-topdown: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
/* BASIS CSS HIER (body, paragrafen, titels, ...) */
.hidden {
  display: none;
}
body {
  margin: 0;
  padding: 0;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: var(--zwart);
  color: var(--wit-links);
  padding: 2em;
}
article {
  padding: 0;
  margin: 0;
}

footer p {
  margin: 0 0 1em;
}
/* HEADER & NAVIGATIE */
header {
  display: flex;
  flex-direction: column;
  background-color: var(--zwart);
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-left: 0;
  padding-bottom: 0;
}

/* nav {
  flex-direction: column;
} */

nav img {
  display: block;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0 1em;
}

nav ul li {
  margin: 2rem auto 1rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--wit-links);
  text-transform: uppercase;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: var(--rood);
}

h1 {
  color: var(--rood);
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

/* INHOUD: FILMS */
.movie-block {
  text-decoration: none;
  color: var(--zwart);
  margin: 0;
  padding: 0;
}

.movie-block img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.movie-block:hover img {
  opacity: 0.5;
}

.movie-content {
  padding: var(--spacing-topdown) var(--spacing-sides);
}
.movie-title {
  text-transform: uppercase;
  margin: 0;
}
.read-more {
  font-weight: bold;
}

#movie-1 {
  border: 10px solid var(--rood);
  background-color: var(--rood);
  color: var(--rood);
}

/* ################################## */
/* Mediaquery voor schermen vanaf 1024 pixels*/
/* ################################## */

@media (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; /* Optional: keep things vertically centered */
  }

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  #movie-2,
  #movie-3 {
    display: flex;
    flex-direction: row;
  }
}
