body { background-color: black ;
  color:white;
}
.boxes {
  background: linear-gradient(to top left, #6e9596 , #143843 ); 
  width: 80%;
  margin: auto;
}
blockquote {
  background: linear-gradient(to bottom right, #6e9596 , #143843 );
  width: 50%;
}


li {background: linear-gradient(orange,yellow);
  float:left;
  width: 80px;
  height:80px;
  margin: 10px;
  line-height: 80px;
  text-align: center;
  

}