body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.page-title {
  background: black url(../images/bg-s.jpg) no-repeat center;
  font-size: 2rem;
  padding: 15vh 1em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-size: cover;
  margin: 0;
}

@media screen and (min-width: 801px) {
  .page-title {
    background-image: url(../images/bg-m.jpg);
  }
}
@media screen and (min-width: 1201px) {
    .page-title {
      background-image: url(../images/bg-l.jpg);
    }
  }
  