figure{
    margin: auto;
    background-color: #efefef;
    width: 300px;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
}

img{
    max-width: 100%;
    height: auto;
}

figcaption{
    text-align: center;
    padding: 10px;
}