@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Suez+One&display=swap");
body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-size: 12px;
}
header {
    text-align: center;
    font-size: 1.2em;
}
table {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border-color: #000000;
}

th {
    background-color: #000000;
    color: #ffffff;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    border-left: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    padding: 5px;
}
th:first-of-type {
    border-left-color: #000000;
}
th:last-of-type {
    border-right-color: #000000;
}
td {
    border: solid 1px #000000;
    padding: .8em;
}
tr:nth-child(odd) {
    background-color: #f9f9f9;
}
tr:nth-child(even) {
    background-color: #e9e9e9;
}
tr:hover {
    background-color: #FF6248;
}
footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
}
