.navigatie {
  background-color: black;
}
.navigatie ul {
  list-style: none;
  display: flex;
  /* justify-content: flex-start; */
  margin: 0;
  padding: 0;
}

.navigatie li {
  /* padding niet op de li maar op de a, 
  anders krijg je geen 'knop'-effect */
  border-left: 1px solid #fff;
}

.navigatie li:first-child {
  margin-right: auto;
  /*andere mogelijkheid, maar dan moet je de  een display:flex geven */
  /* flex-grow: 1; 
    display:flex;
  */
}

.navigatie a {
  display: block;
  background: black;
  color: white;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid white;
  /* extra fancy ;) de overgang van zwart naar wit gaat geleidelijk */
  transition: background-color 0.5s;
}

.navigatie a:hover {
  background: #efefef;
  color: #000;
}
