body{
    background-color: black;
    color: white;
}
*{
    box-sizing: border-box;
}
.boxes{
    padding: 10px;
}

blockquote{
    font-size: 2rem;
    background-color: #143843;
    width: 50%;
    padding: 2rem;
    margin: 3rem;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}
blockquote.two{
    margin: auto;
}
blockquote.three{
    margin-left: auto;
}